:root {
    --VeryDarkViolet: hsl(270, 9%, 17%);
    --DarkGrayishViolet: hsl(273, 4%, 51%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --DarkViolet: hsl(256, 26%, 20%);
    --GrayishBlue: hsl(216, 30%, 68%);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Karla', sans-serif;
    background: var(--white);
    -webkit-font-smoothing: antialiased;
    height: auto;
}

body,
input,
button {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'DM Serif Display', sans-serif;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    font-weight: 400;
}

button {
    cursor: pointer;
    background: none;
    color: var(--VeryLightGray);
    height: 30px;
    text-align: center;
    border: thin solid var(--VeryLightGray);
}

hr {
    width: 100px;
    height: 0.5px;
    font-weight: 400;
    background-color: white;
    margin-bottom: 50px;
}

img {
    max-width: 100%;
}


/*********** Navbar Section starts **********/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--DarkGrayishViolet);
}

ul li button {
    width: 150%;
    text-align: center;
    position: relative;
    right: 40px;
    color: rgb(10, 9, 9);
    border: 1px solid rgb(8, 8, 8);
}

.btn {
    margin-left: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger img {
    width: 25px;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-y: hidden;
    }
    .nav-links {
        position: absolute;
        height: 32vh;
        top: 8vh;
        background-color: var(--VeryDarkViolet);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateY(-130%);
        transition: transform 0.5s ease-in;
    }
    .burger {
        display: block;
    }
    ul li a {
        text-decoration: none;
        color: var(--VeryLightGray);
    }
}

.nav-active {
    transform: translateY(0%);
}

.container {
    width: 100%;
}


/****** Introduction page starts ********/

#intro-page {
    background-color: var(--DarkViolet);
    margin: 30px auto;
    height: 55vh;
    color: var(--white);
}

.intro-text,
.intro-image {
    padding-top: 5%;
}

.intro-text h1 {
    width: 55%;
}

.intro-text button {
    width: 22%;
    margin-top: 10px;
}

.intro-image img {
    width: 65%;
    z-index: 2;
}


/****** Introduction page ends ********/


/****** Advertisement page starts ********/

#ads {
    margin: 200px auto 100px;
}

#ads hr {
    background-color: var(--DarkGrayishViolet);
}

#ads h1 {
    margin-bottom: 70px;
    font-weight: 700;
}

#ads img {
    margin-bottom: 40px;
}


/****** Advertisement page ends ********/


/****** CTA page starts ********/

#cta {
    background-color: var(--DarkViolet);
    width: 80%;
    height: 25vh;
    margin: auto auto 150px;
}

.cta-text {
    margin: auto 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cta-text h1 {
    width: 34%;
    color: var(--white);
    position: relative;
    right: 260px;
    margin: auto;
    top: 30px;
}

.cta-text button {
    width: 14%;
    position: relative;
    top: 50px;
}

.cta-text button:hover {
    background-color: var(--white);
}


/****** CTA page ends ********/


/****** Footer page starts ********/

#footer hr {
    width: 100%;
    margin: 20px auto;
    background-color: var(--DarkGrayishViolet);
}

.media-images {
    margin: auto 420px;
    width: 200%;
}

.media-images img {
    margin-left: 6px;
}

.footer-notes {
    margin-top: 40px;
}

.footer-notes h4 {
    margin-bottom: 10px;
    color: var(--DarkGrayishViolet);
}

.attribution {
    margin: 40px 500px 20px;
}

@media screen and (max-width: 375px) {
    #intro-page {
        background-color: var(--white);
        /* height: 59vh; */
    }
    .intro-text {
        background-color: var(--DarkViolet);
        height: 55vh;
    }
    .intro-image img {
        width: 150%;
    }
    .intro-text {
        position: absolute;
        bottom: -100px;
    }
    .intro-text button {
        width: 32%;
        margin-top: 10px;
        margin: 30px 100px 0;
    }
    #ads {
        margin: 270px auto 100px;
    }
    #ads img {
        margin: 0 130px 40px;
    }
    .adverts h3 {
        width: 100%;
        text-align: center;
    }
    .adverts p {
        width: 94%;
        text-align: center;
        margin: auto;
    }
    #cta {
        width: 100%;
        height: 40vh;
        flex-direction: column;
    }
    .cta-text {
        flex-direction: column;
        width: 80%;
    }
    .cta-text h1 {
        width: 90%;
        right: 0;
        text-align: center;
    }
    .cta-text button {
        width: 64%;
        position: relative;
        top: 50px;
    }
    #footer hr {
        width: 90%;
        margin: 20px auto;
        background-color: var(--DarkGrayishViolet);
    }
    .footer-logo {
        display: flex;
        flex-direction: column;
    }
    .media-images {
        margin: auto 100px 20px;
        width: 200%;
    }
    .media-images img {
        margin-left: 0;
    }
    .logo-image {
        margin: auto 100px 20px;
    }
    .footer-notes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .about,
    .contact,
    .help,
    .others {
        margin-bottom: 30px;
    }
}